.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
  color: #fff;
  overflow: hidden;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: 50%;
  color: var(--background-color);
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}

.hero-updated {
    max-width: var(--grid-container-width);
    min-height: var(--min-height);
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;

    p {
      margin: 8px 0;
    }

    div > *:first-child {
      margin-top: 0;
    }

    div > *:last-child {
      margin-bottom: 0;
    }

    .hero-detail {
      margin: 0;
    }

    .hero-heading {
      margin: 0;
    }
}
